<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/authstyle.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Reset Password</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/cook.png') }}">
</head>
<body>
    <div align="center">
        <div class="border">
            <div class="header">
                <h1 class="word">Reset Password</h1>
            </div>
            <form action="{{ url_for('reset_password') }}" method="post">
                <div class="msg">{{ msg }}</div>
                <input type="password" id="newpassword" name="newpassword" placeholder="Enter New Password" class="textbox" required>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" class="textbox" required>
                <input type="submit" class="btn" value="Reset Password">
            </form>
            <p class="bottom"><a href="{{ url_for('login') }}">Back to Login</a></p>
        </div>
    </div>
</body>
</html>
