body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.border {
    width: 400px;
    padding: 30px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.word {
    color: #333;
}

.textbox {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4cae4c;
}

.bottom {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.bottom a {
    color: #5cb85c;
    text-decoration: none;
}
.bottomm a {
    color: #9001f6;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}

.msg {
    color: red;
    margin-bottom: 10px;
}
